* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background-image: url("table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 20vh;
    margin-top: 3rem;
}

.cards {
    border: 2px solid black;
    border-radius: 10px;
    width: 148px;
    height: 100%;
    background-image: url("cards/couv.png");
}

#point {
    margin-top: 2rem;
    font-size: 3rem;
    color: beige;
    text-align: center;
}

#pairs {
    font-weight: bold;
}

#endGame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume {
    font-size: 5rem;
    color: beige;
}

