* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background-image: url("final-fantasy-xv_0900826112.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin-top: 1rem;
}

.cards {
    border: 2px solid black;
    border-radius: 10px;
    width: 11rem;
    height: 15vh;
    background-image: url("cards/couv.png");
}

#point {
    margin-top: 2rem;
    font-size: 3rem;
    color: beige;
    text-align: center;
}

#pairs {
    font-weight: bold;
}

#endGame {
    text-align: center;
}

#resume {
    font-size: 5rem;
    color: beige;
    margin-top: 2rem;
}

#reload {
    font-size: 1.5rem;
}

@media screen and (max-width: 520px) {

    .line {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 515px) {

    .line {
        width: 100%;
    }

    #point {
        margin-top: 5rem;
    }
}